Q1. List any five functions of the pandas library with execution.


five function of the pandas are as :

1.'read_csv'

2.'groupby()'

3.'merge()'

4.'pivot_table'

5.'apply()'

In [6]:
import pandas as pd

df = pd.read_csv('Services.csv')

print(df.head())

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]

In [9]:
import pandas as pd

df = pd.read_csv('Services.csv')

grouped =df.groupby('program_id')

mean_value = grouped['status'].mean()

print(mean_value)

Series([], Name: status, dtype: object)

etc

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [18]:
import pandas as pd

def reindex_df(df):

    newindex =pd.Index(range(1,len(df)*2,2))
    newdf=df.copy()
    newdf.index =newindex
    return newdf

In [19]:
import pandas as pd

df=pd.DataFrame({'A':[1,2,3] , 'B':[4,5,6] , 'C':[7,8,9]})

print('Original DataFrame:')
print(df)

newdf=reindex_df(df)

print('re-indexed DataFrame')
print(newdf)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
re-indexed DataFrame
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [30]:
import pandas as pd

df = pd.DataFrame({'Values': [10,20,30,40,50]})

sum_first_three_values(df)

def sum_first_three_values(df):

    Values =df ['Values'][:3]
    print("the sum of first three values is{Values.sum()}.")

The sum of the first three values is 60.

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
import pandas as pd
 
df = pd.DataFrame({'Text':['ghanshyam' , 'hassan' , 'kaushal' , 'karan']})

df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))


print(df)

        Text  Word_Count
0  ghanshyam           1
1     hassan           1
2    kaushal           1
3      karan           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans :Pandas DataFrames have methods called DataFrame.size() and DataFrame.shape() that both return data about the DataFrame, but they do so in distinct ways.

The total number of elements in the DataFrame is returned by DataFrame.size(). In other words, it gives back the sum of the DataFrame's number of rows and columns. A number is the value that was obtained.


The number of rows and columns in the DataFrame are listed in a tuple by DataFrame.shape(), on the other hand. As a result, DataFrame.shape()[0] and [1] yield the number of rows and columns, respectively. A tuple is the returning value.

Q6. Which function of pandas do we use to read an excel file?

In [15]:
import pandas as pd

df = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

print(df)

    Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                  Datetimes in LUSID
2                                                 NaN
3    This sheet allows you to format datetimes for...
4         If you have any questions please visit our:
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                           Getting Started tutorials
6                             Knowledge Base articles
7                                       or Contact us
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID accepts datetimes in any recognised Exce...
12                                                NaN
13                     Excel formats to show datetime
14                                                NaN
15                          Enter the date to convert
16                                                NaN
17                    This date has no time component
18                                                NaN
19                             Specify time component
20                                                NaN
21  Add to your date and display the complete date...
22                                                NaN
23   Although the date can still appears without time
24                                                NaN
25                       Add an hour to your datetime
26                                                NaN
27               Subtract a minute from your datetime

                    Unnamed: 5  Unnamed: 6  \
0                          NaN         NaN
1                          NaN         NaN
2                          NaN         NaN
3                          NaN         NaN
4                          NaN         NaN
5                          NaN         NaN
6                          NaN         NaN
7                          NaN         NaN
8                          NaN         NaN
9                          NaN         NaN
10                         NaN         NaN
11                         NaN         NaN
12                         NaN         NaN
13                         NaN         NaN
14                         NaN         NaN
15         2019-04-10 00:00:00         NaN
16                         NaN         NaN
17         2019-04-10 00:00:00         NaN
18                         NaN         NaN
19             13:30:45.550000         NaN
20                         NaN         NaN
21  2019-04-10 13:30:45.550000         NaN
22                         NaN         NaN
23  2019-04-10 13:30:45.550000         NaN
24                         NaN         NaN
25  2019-04-10 14:30:45.550000         NaN
26                         NaN         NaN
27  2019-04-10 14:29:45.550000         NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels
12                                                NaN
13                                 Additional formats
14                                                NaN
15                            Standard UTC timestamp:
16                                                NaN
17                         Convert date into a string
18                                                NaN
19       UTC offset (not recognised as an excel date)
20                                                NaN
21                                           Cutlabel
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                   Unnamed: 8  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15  "YYYY-MM-DDTHH:MM:SS.00Z"
16                        NaN
17   2019-04-10T 13:30:45.55Z
18                        NaN
19  2019-04-10T13:30:45+04:00
20                        NaN
21  2019-04-10NSingaporeClose
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN

                                           Unnamed: 9
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Where Z indicates Zulu time (UTC+0), and is eq...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [3]:
import pandas as pd
def extract_username(df):
    df['Username']=df['Email'].str.split('@').str[0]

    return df

In [6]:
df = pd.DataFrame({'Email' :['john.doe@example.com','ghanshyam.doe@example.cim']})

df = extract_username(df)

print(df)

                       Email       Username
0       john.doe@example.com       john.doe
1  ghanshyam.doe@example.cim  ghanshyam.doe

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [7]:
import pandas as pd 

def selected_row(df):
    selected_row =df[(df['A']>5) & (df['B']<10)]

    return selected_row

In [8]:
df=pd.DataFrame({
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
})

selected_row=selected_row(df)

print(selected_row)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [14]:
import pandas as pd
df=pd.DataFrame({'Values' :[2,4,5,6,7]})

def calculate(df):
    mean=df['Values'].mean()
    median=df['Values'].median()
    std=df['Values'].std()

    return {'mean': mean, 'median': median, 'std': std}
statistics = calculate(df)

print(statistics)

{'mean': 4.8, 'median': 5.0, 'std': 1.9235384061671346}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [10]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

df['Date'] = pd.to_datetime(df['Date'])

df = df.set_index('Date')

df['MovingAverage']= df['Quantity'].rolling(window=7,min_periods=1).mean()

print(df)

            Unnamed: 0    Product  Quantity  Price  MovingAverage
Date
2023-05-01           0  Product A        10  20.50      10.000000
2023-05-02           1  Product B         5  15.75       7.500000
2023-05-03           2  Product C         8  12.00       7.666667
2023-05-04           3  Product A        15  20.50       9.500000
2023-05-05           4  Product B         3  15.75       8.200000
2023-05-06           5  Product C         6  12.00       7.833333
2023-05-07           6  Product A        12  20.50       8.428571
2023-05-08           7  Product B         7  15.75       8.000000
2023-05-09           8  Product C         9  12.00       8.571429
2023-05-10           9  Product A        20  20.50      10.285714

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [1]:
import pandas as pd
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
def add_weekday_column(df):
    df['aday_name'] = df['Date'].dt.aday_name()
    df = add_weekday_column(df)
print(df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [2]:
import pandas as pd

def select_january_dates(df):
    # Convert the 'Date' column to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select all rows where the date is between '2023-01-01' and '2023-01-31'
    january_dates = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return january_dates

In [3]:
select_january_dates=select_january_dates(df)

In [4]:
select_january_dates

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?


Ans:To use the basic functions of pandas, the first and foremost library that needs to be imported is the pandas library itself.

In [9]:
import pandas as pd